# base image
FROM node

# create & set working directory
RUN mkdir -p /usr/src
WORKDIR /usr/src

# copy source files
COPY . /usr/src


# setting enviroment variables
ENV DATABASE_URL value
ENV CREATE_USER_ACCESS_TOKEN_SECRET value
ENV RESET_PASSWORD_ACCESS_TOKEN_SECRET value
ENV ACCESS_TOKEN_SECRET value
ENV SMTP_EMAIL value
ENV PORT_EMAIL value
ENV FROM_EMAIL value
ENV PASSWORD_EMAIL value

# install dependencies
RUN npm install

# uninstall the current bcrypt modules
RUN npm uninstall bcrypt

# install the bcrypt modules for the machine
RUN npm install bcrypt

# start app
RUN npm run build

EXPOSE 8080
CMD npm run start